node_modules
npm-debug.log
dist
.git
.gitignore
.env.development
.env.local
README.md
.vscode
.idea
.DS_Store
*.swp
*.swo
*.md
LICENSE
.husky
.eslintrc
.prettierrc
vitest.config.ts
tsconfig.*.json
vite.config.ts.bak